[flake8]
# This is a comment in a flake file.
# It is used to provide additional information about the configurations.
[flake8]
exclude = .git,__pycache__,docs/source/conf.py,build,dist
ignore = H903,E266,D203,H306,E501,E722,W503
max-line-length = 120
# The following configurations limit the complexity of functions and try statements
max-complexity = 10
max-function-args = 5
max-function-locals = 7
max-try-body-length = 2
max-returns = 2
max-arguments = 5
max-module-lines = 1000
# The following configurations enable statistics, counts, and show the source of errors.
statistics = True
count = True
show-source = True
# The following configuration saves the output to a log file.
tee = True
output-file = flake8.log